services:
  database:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./certify_init.sql:/docker-entrypoint-initdb.d/certify_init.sql

  certify:
    image: mosipid/inji-certify-with-plugins:0.13.1
    restart: always
    user: root
    environment:
      container_user: mosip
      active_profile_env: default,csvdp-farmer
      SPRING_CONFIG_NAME: certify
      SPRING_CONFIG_LOCATION: /home/mosip/config/
      enable_certify_artifactory: false
      download_hsm_client: false
      mosipbox_public_url: http://${CERTIFY_DOMAIN}
      MOSIP_CERTIFY_DOMAIN_URL: http://${CERTIFY_DOMAIN}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./config/certify-default.properties:/home/mosip/config/certify-default.properties
      - ./config/certify-csvdp-farmer.properties:/home/mosip/config/certify-csvdp-farmer.properties
      - ./data/CERTIFY_PKCS12:/home/mosip/CERTIFY_PKCS12
      - ./loader_path/certify/:/home/mosip/additional_jars/
      - ./config/farmer_identity_data.csv:/home/mosip/config/farmer_identity_data.csv
    depends_on:
      - database

  mimoto:
    image: mosipid/mimoto:0.19.2
    restart: always
    user: root
    environment:
      container_user: mosip
      active_profile_env: default
      SPRING_CONFIG_NAME: mimoto
      SPRING_CONFIG_LOCATION: /home/mosip/
      IDP_PARTNER_ENCRYPTION_KEY: ${IDP_PARTNER_ENCRYPTION_KEY}
      WALLET_BINDING_PARTNER_API_KEY: ${WALLET_BINDING_PARTNER_API_KEY}
      OIDC_P12_PASSWORD: ${OIDC_P12_PASSWORD}
      MOSIP_INJI_WEB_URL: http://${INJI_WEB_DOMAIN}
      MOSIP_API_PUBLIC_URL: http://${MIMOTO_DOMAIN}
      MOSIP_SECURITY_ORIGINS: http://${INJI_WEB_DOMAIN}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./config/mimoto-default.properties:/home/mosip/mimoto-default.properties
      - ./config/mimoto-issuers-config.json:/home/mosip/mimoto-issuers-config.json
      - ./config/mimoto-trusted-verifiers.json:/home/mosip/mimoto-trusted-verifiers.json
      - ./certs/oidckeystore.p12:/home/mosip/certs/oidckeystore.p12

  inji-web:
    image: mosipid/inji-web:0.14.1
    restart: always
    environment:
      DEFAULT_LANG: en
      MIMOTO_HOST: http://${MIMOTO_DOMAIN}/v1/mimoto
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - mimoto

  certify-nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./certify-nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - certify

volumes:
  db_data:
